.env
.env.*
!.env.example
node_modules/
vendor/
/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/*.php
/public/build/
/public/hot
*.log
preview-server.err.log
preview-server.out.log
.DS_Store
Thumbs.db
